<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
      .chat-list {
        background-color: skyblue;
        width: 300px;
        min-height: 500px;
      }
      .my-chat {
        text-align: right;
      }
      .my-chat > div {
        display: inline-block;
        background-color: yellow;
      }
      .other-chat > div {
        display: inline-block;
        background-color: white;
      }
      .other-chat {
        text-align: left;
      }
      .notice {
        color: blue;
        text-align: center;
        font-size: 12px;
      }
      .d-none {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- 1. 이름(닉네임) 입력하고 입장할 수 있도록
    2. DM 기능 -->
    <div>
      <input type="text" id="nickname" />
      <button type="button" onclick="entry();" id="entryBtn">입장</button>
    </div>
    <div class="d-none" id="chat">
      <div class="chat-list"></div>
      <div>
        <select id="dm">
          <option value="all">전체</option>
        </select>
        <input type="text" name="msg" id="msg" value="" />
        <button type="button" onclick="sendMsg();">전송</button>
      </div>
    </div>
    <script>
      var socket = io.connect();
      function entry() {
        var nickname = $("#nickname").val();
        socket.emit("setNick", nickname);
      }
      socket.on("entrySuccess", () => {
        $("#chat").removeClass("d-none");
        $("#nickname, #entryBtn").attr("disabled", true);
        socketEvent();
      });
      function sendMsg() {
        // 1. input 의 value 가져옴
        var msg = $("#msg").val();
        var data = {
          dm: $("#dm").val(),
          msg: msg,
        };
        socket.emit("sendMsg", data);
      }
      function socketEvent() {
        socket.on("notice", (id) => {
          $(".chat-list").append(`<div class="notice">${id}님이 입장했습니다.</div>`);
        });
        socket.on("send", (msg) => {
          var myMsg = $("#msg").val();
          var className = "";
          if (myMsg == msg) className = "my-chat";
          else className = "other-chat";
          $(".chat-list").append(`
                <div class="${className}">
                    <div>${msg}</div>
                </div>`);
        });
        socket.on("clientUpdate", (client) => {
          /* client = {
                    111: "aaaa",
                    222: "bbbb"
                } */
          var option = `<option value="all">전체</option>`;
          for (var key in client) {
            /*
                    key = "111"
                    client[key] = "aaaa";
                    key = "222";
                    client[key] = "bbbb";
                    */
            if (client[key] != $("#nickname").val()) {
              option += `<option value="${key}">${client[key]}</option>`;
            }
          }
          $("#dm").html(option);
        });
      }
      socket.on("err", (msg) => {
        alert(msg);
      });
      // emit, on
    </script>
  </body>
</html>
