<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>socket-chat</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="user_list">
        <div class="space" style="text-align: center">현재 채팅방 인원</div>
        <ul class="list_user space">
          <!-- <li>윤경민</li> -->
        </ul>
      </div>

      <div class="chatting">
        <div class="topinput">
          <input
            type="text"
            name="name"
            class="nickbox"
            placeholder="ID를 입력 후 Enter"
            onfocus="clearF(this)"
          />
          <button type="button" onclick="enteR()" class="enter">
            입장하기
          </button>
        </div>
        <div class="chat-list">
          <!-- <div class="dm"><div>안녕</div></div> -->
        </div>
        <div class="textinput">
          <select id="dm">
            <option value="all">전체에게</option>
          </select>
          <input type="text" name="msg" id="msg" />
          <button type="button" onclick="sendMsg();" id="button">전송</button>
        </div>
      </div>
    </div>

    <script>
      var socket = io.connect();
      var nickname;
      $(document).ready(function () {
        $(".nickbox").focus();
      });

      function enteR() {
        nickname = $(".nickbox").val();
        socket.emit("enter", nickname);
      }

      socket.on("err", (msg) => {
        alert(msg);
      });

      socket.on("userlist", (nickname) => {
        $(".list_user").append(`<div class="space">${nickname}</div>`);
      });

      socket.on("entrySuccess", () => {
        if (nickname == "") {
          alert("ID를 입력해주세요.");
        } else if (nickname.length >= 10) {
          alert("10자리 아래로 입력하세요.");
        } else if (nickname.length < 10) {
          socketEvent();
          $(".nickbox, .enter").attr("disabled", true);
          $("#msg").focus();
        }
      });

      function socketEvent() {
        socket.on("notice", (nickname) => {
          $(".chat-list").append(
            `<div class="nickname">${nickname}님이 입장했습니다.</div>`
          );
        });

        socket.on("send", (data) => {
          var className = "";
          var name = "";
          if (data.name == nickname) {
            className = "my-chat";
          } else {
            className = "other-chat";
            name = `${data.name} : `;
          }

          if (data.dm != "all") {
            className += " dm";
          }
          $(".chat-list").append(
            `<div class="${className}"><div>${name}${data.msg}</div></div>`
          );
        });

        socket.on("clientUpdate", (client) => {
          var option = `<option value="all">전체에게</option>`;
          for (var key in client) {
            if (client[key] != $(".nickbox").val()) {
              option += `<option value="${key}">${client[key]}</option>`;
            }
          }
          $("#dm").html(option);
        });
      }

      function clearF(target) {
        if (target.value == "ID를 입력해주세요.") {
          target.value = "";
        }
      }

      function sendMsg() {
        var msg = $("#msg").val();
        var dm = $("#dm").val();
        var data = {
          name: nickname,
          msg: msg,
          dm: dm,
        };
        // console.log($(".chat-list").last("div"));
        // console.log(data.name);
        if (nickname == undefined) {
          alert("입장 후 전송을 눌러주세요.");
        } else if (msg == "") {
          alert("메세지를 입력해주세요.");
        } else {
          socket.emit("sendMsg", data);
        }

        $("#msg").val("");
        $(".chat-list").scrollTop(300);
        console.log($(".chat-list").scrollTop());
      }

      document
        .querySelector(".nickbox")
        .addEventListener("keydown", ({ key }) => {
          if (key == "Enter") {
            enteR();
          }
        });
      document.querySelector("#msg").addEventListener("keydown", ({ key }) => {
        if (key == "Enter") {
          sendMsg();
        }
      });

      var outname = $(".nickbox").val();
      socket.on("out", (data) => {
        $(".chat-list").append(
          `<div class="out">${data}님이 퇴장했습니다</div>`
        );
      });
    </script>
  </body>
</html>
